@model DoChoiXeMay.Models.HinhThucTC

@{
    ViewBag.Title = "UpdateLVChiNhanh";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}
<style>
    .title-casekh {
        width: 100px; 
        float: left;
        border-radius: 5px 0px 0px 5px;
        background: #eeeeee;
        height: 42px;
        position: relative;
        text-align: center;
        line-height: 40px;
    }
</style>
<link href="~/Areas/Admin/Content/css/Info_Style.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/jquery2.0.3.min.js"></script>
<div class="container">
    <h2>Update HinhThucTC</h2>
    @using (Html.BeginForm("DanhMuc", "UpdateHTTC", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <fieldset class="info_form" style="margin-top:0">
            <div class="container">
                @Html.HiddenFor(kh => kh.Id)
                @Html.HiddenFor(kh=>kh.Ngay)
                <h1 class="info_header">
                    <span style="color:black">Update @Model.TenHT</span>
                    <span class="pull-right label label-warning" style="color:white;font-family:monospace">
                        @Html.ValidationSummary()
                    </span>
                </h1>
                <div class="contentform">
                    <div class="form-group">
                        <div class="row" style="width:95%;padding-left:15px">
                            <p>Level_Name </p>
                            <span class="icon-case"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.TextBoxFor(m => m.TenHT, new { @class = "form-control", style = "height: 40px;width: 50%", @required = true })

                        </div>
                        <div class="row" style="">
                            <span class="title-casekh" style="margin-left: 2%">Sử dụng </span>

                            @Html.CheckBoxFor(kh => kh.SuDung, new { @style = "height:37px;text-align:left" })

                        </div>
                        
                        <div class="row" style="margin-top:10px">
                            <div class="form-group col-sm-12">
                                <div class="text-center btn-crud">
                                    <button id="btnLuu" class="btn btn-warning" data-action="UpdateHTTC"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Update</button>
                                    <a class="btn btn-primary" href="/Admin/DanhMuc/Listchinhanh" style="margin-left:10%"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Quay Lại</a>
                                </div>
                                <script>
                                    $(function () {
                                        $("button[data-action]").click(function () {
                                            if (!confirm("Bạn Có Chắc Chắn Hành Động Của Mình?")) {
                                                return false;
                                            } else {
                                                var action = $(this).attr("data-action");
                                                this.form.action = "/Admin/DanhMuc/" + action;
                                            }

                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>
    }
</div>

